extends page_layout2

block content
  if user && user.team !== 'staff'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/admin/users/edit/'+ userInForm._id)
                .form-group
                    label(for='username') User Name:
                    input.form-control(class='loginfld', name='username', type='text', placeholder='' value=userInForm.username required)
                br
                .form-group
                    label(for='team') Team:
                    select.form-control(class='loginfld' name='team', size='0' value=userInForm.team required)
                        option(disabled='', selected='', value='')  -- Select a Team -- 
                        each team, i in teams
                            option(value=team.name) #{team.name}

                br
                .form-group
                    label(for='password') Password:
                    input.form-control(class='loginfld' name='password', type='password', placeholder='' required)
                br
                .form-group
                    label(for='password2') Confirm Password:
                    input.form-control(class='loginfld' name='password2' type='password' placeholder='' required)
                br
                .form-row.col-sm-7
                    .form-row
                        .form-group
                            input.btn.btn-success.btnSubmit(type="submit", value="Save Changes")
                    .form-row
                        .form-group
                            input.btn.btn-secondary.btnReset(type="button" onclick="window.location.href='/admin/users'" value="Cancel")
            br
