extends page_layout2

block content
    if user && user.team !== 'staff'
        .container
            h1 #{title}
            br
            hr
            h4 Add a User:
            br
            form(role='form' method='POST' action='/admin/users/add')
                .form-row.col-sm-6
                    .form-group
                        label(for='name') User Name:
                        input.form-control(class='loginfld', name='name', type='text', placeholder='' required)
                    .form-group
                        label(for='Team') Team:
                        select.form-control(class='loginfld' name='team', size='0' required)
                            option(disabled='', selected='', value='')  -- Select a Team -- 
                            each team, i in teams
                                option(value=team.name) #{team.name}
                .form-row.col-sm-6
                    .form-group
                        label(for='password') Password:
                        input.form-control(class='loginfld' name='password', type='password', placeholder='' required)
                    .form-group
                        label(for='password2') Confirm Password:
                        input.form-control(class='loginfld' name='password2' type='password' placeholder='' required)
                
                input.btn.btn-info.btn-fswf1(type="submit", value="Submit User")
            br
            hr
        .container
            br
            h4 All Users:
            table.table
                thead
                    tr
                        th(scope='col') Name
                        th(scope='col') Team
                        th(scope='col') Active                        
                        th(scope='col') Actions
                tbody
                    each appUser, i in appUsers
                        if appUser.username !== 'admin' 
                            tr
                                td= appUser.username
                                td.center= appUser.team
                                td.center= appUser.active
                                td.center
                                    if appUser.team !== 'admin' || user.team == 'admin'
                                        a.btn.btn-info.btn-fswf3(href="/admin/users/edit/" + appUser._id) Edit
                                        if appUser.username !== user.username
                                            button.btn.btn-danger.btn-sm.delete-user(href='#', data-id = appUser._id) Delete
